services:
  app:
    build:
      context: ./
    depends_on:
      - db
    restart: always
    networks:
      default:
    environment:
      PROJECT_NAME: ${PROJECT_NAME}
      ENVIRONMENT: ${ENVIRONMENT:-prod}
      SECRET_KEY: ${SECRET_KEY}
      API_TOKEN: ${API_TOKEN}
      DB_TYPE: ${DB_TYPE:-ASYNC_POSTGRESQL}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      SCRAPPER_API_URL: ${SCRAPPER_API_URL:-http://scraper:80}
    volumes:
      - app_localstorage:/app/storage
      - app_logs:/app/logs

  scraper:
    build:
      context: ./backend/higgsfieldai_scraper
    restart: always
    networks:
      default:

  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    restart: always
    networks:
      default:

networks:
  default:

volumes:
  postgres_data:
  app_localstorage:
  app_logs:
